html {
    background-color: #fefefe;
}
body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: auto;
    max-width: 800px;
    padding: 1em;
    text-align: left;
}

table {
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
th,
td {
    padding: 2px 5px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.top-button a {
    position: fixed;
    bottom: 6%;
    right: 4%;
    z-index: 10;
    background-color: #4f4f4f;
    color: #fff;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 3px;
    font-size: 1rem;
    text-decoration: none;
}
.top-button a:hover {
    text-decoration: underline;
    color: #fff;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    max-width: inherit;
    height: 30px;
    background-color: #fff;
}
footer span {
    font-size: 14px;
    line-height: 2.2;
    font-style: italic;
}

@media screen and (min-width: 500px) {
    body {
        text-align: justify;
    }
}
