# macOS
.DS_Store

# netlify functions build
functions-build

# deploy directory
build

# Key files
keys
*.key

# sensitive
getAPIData.html 

# Logs
logs
*.log

# Local Netlify folder
.netlify

# node modules
node_modules