html {
    background-color: #fefefe;
}
body {
    font-family: "Comic Sans MS", sans-serif;
    font-size: 18px;
    margin: auto;
    max-width: 980px;
    text-align: left;
    padding: 0 10px 0 10px;
    overflow-x: hidden;
}
h1,
h2,
h3 {
    color: #383838;
}
h1 {
    color: #505050;
}
h2 {
    font-size: 1.5rem;
}

/* header image styling */
.tgifLogo {
    max-width: 45px;
}
.emailImage {
    opacity: 0.7;
}

/* top-button */
#top-button {
    display: none;
}
.top-button a {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 10;
    background-color: #6c757d;
    color: #fff;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 2px;
    font-size: 1rem;
    text-decoration: none;
    opacity: 0.7;
}
.top-button a:hover {
    text-decoration: underline;
    color: #fff;
}

@media only screen and (min-width: 1000px) {
    body {
        padding: 0;
    }
}
