html {
    background-color: #fefefe;
}
body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: auto;
    max-width: 980px;
    text-align: left;
    padding: 0 10px 0 10px;
    overflow-x: hidden;
}
h1,
h2,
h3 {
    font-family: "Comic Sans MS", sans-serif;
    color: #383838;
}
h1 {
    color: #505050;
}

/* header image styling */
.tgifLogo {
    max-width: 45px;
}
.emailImage {
    opacity: 0.7;
}

/* navigation fine-tuning */
/*.nav-item a,
li.nav-item.dropdown.show > div > a {
    color: #007bff !important;
    font-family: "Comic Sans MS", sans-serif;
}
li.nav-item.dropdown.show a,
a.nav-link:hover,
li.nav-item.dropdown.show > div > a:hover,
li.nav-item.active > a,
li.nav-item.dropdown.show > div > a.active {
    color: #3e3d3d !important;
    background-color: #eaeaea;
}
.dropdown-item.active,
.dropdown-item:active {
    background-color: #fff !important;
}
li.nav-item.dropdown.show,
.nav-link:hover,
li.nav-item.dropdown.show > div > a.active {
    background-color: #eaeaea;
}
.navbar-light .navbar-toggler {
    border: none;
}*/

/* top-button */
.top-button a {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 10;
    background-color: #424242;
    color: #fff;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 2px;
    font-size: 1rem;
    text-decoration: none;
    opacity: 0.7;
}
.top-button a:hover {
    text-decoration: underline;
    color: #fff;
}

@media only screen and (min-width: 1000px) {
    body {
        padding: 0;
    }
}
